#myContainer {
	width: 100%;
	text-align: center;
	position: relative;    /* position 메소드가 정확한 위치를 잡도록 필요함 */
}
#divFull {
	background-color: white;
	position: relative;
	font-size: 18px;
	font-weight: inherit;
}
#myP5Canvas {
	background-color: black;
}

/***************************************************************************************************/

.flexContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	/* background-color: ivory; */
}
.flexItem {
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	margin: 5px 10px;
	/* background-color: orange; */
}

/***************************************************************************************************/

.flexContainer table { margin-bottom: 0; border: none; }
.flexContainer table th { padding: 2px 2px; border: none; background-color: transparent; }
.flexContainer table td { padding: 2px 2px; border: none; background-color: transparent; }

.flexContainer input[type="file"],
.leftContainer input[type="file"] {
	font-size: inherit;
	font-weight: inherit;
	height: 40px;
	//background-color: #e7e7e7;
	color: black;
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-decoration: none;
	display: inline;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.flexContainer input[type="number"],
.leftContainer input[type="number"],
.flexContainer input[type="text"],
.leftContainer input[type="text"] {
	background-color: white;
	border: 1px solid #cccccc;
	font-size: inherit;
	font-weight: inherit;
	height: 34px;
	padding: 0 5px;
	margin: 0 5px;
	width:100px;
}

.flexContainer button,
.leftContainer button,
.flexContainer select,
.leftContainer select,
.flexContainer input[type=file]::file-selector-button,
.leftContainer input[type=file]::file-selector-button {
	font-size: inherit;
	font-weight: inherit;
	/* height: 40px; */
	background-color: #eee;
	color: black;
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.flexContainer button:hover,
.leftContainer button:hover {
	font-size: inherit;
	font-weight: inherit;
	background-color: gray;
	color: white;
}

.flexContainer input[type="checkbox"],
.leftContainer input[type="checkbox"] {
	font-size: inherit;
	font-weight: inherit;
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin: 0 6px 0 0;
}

.flexContainer label,
.leftContainer label {
	font-size: inherit;
	font-weight: inherit;
	position: relative;
	top: 1px;
}

.flexContainer input[type="radio"],
.leftContainer input[type="radio"] {
	font-size: inherit;
	font-weight: inherit;
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin-right: 4px;
}

/***************************************************************************************************/

input[type="range"] {
	font-size: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	background: none;
	width: 260px;
	height: 30px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0;
}

input[type="range"]:hover {
	opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: #ccc;
	height: 10px; /*trackHeight*/
	border-radius: 5px; /*trackHeight*/
	transition: 0.3s;
}

input[type="range"]::-moz-range-track {
	background: #ccc;
	height: 10px; /*trackHeight*/
	border-radius: 5px; /*trackHeight*/
	/*background isn't animatable, so can't use transition*/
}

input[type="range"]::-ms-track {
	background: #ccc;
	height: 10px; /*trackHeight*/
	border-radius: 5px; /*trackHeight*/
	/* border: none; */
	/* color: transparent; */
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	background: #ff0000;
	cursor: pointer;
	border-radius: 50%;
	border: 4px solid #fff;
	margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {
	width: 30px;
	height: 30px;
	background: #ff0000;
	cursor: pointer;
	border-radius: 50%;
	border: 4px solid #fff;
}

input[type="range"]::-ms-thumb {
	width: 24px;
	height: 24px;
	background: #ff0000;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	margin: 0 4px 0; /*0 thumbBorderWidth 0*/
	box-shadow: 0 0 0 4px #fff;
}

.greenrange input[type="range"]::-webkit-slider-thumb { background: #008000; }
.greenrange input[type="range"]::-moz-range-thumb { background: #008000; }
.greenrange input[type="range"]::-ms-range-thumb { background: #008000; }
.bluerange input[type="range"]::-webkit-slider-thumb { background: #0000ff; }
.bluerange input[type="range"]::-moz-range-thumb { background: #0000ff; }
.bluerange input[type="range"]::-ms-range-thumb { background: #0000ff; }
.orangerange input[type="range"]::-webkit-slider-thumb { background: #FF8000; }
.orangerange input[type="range"]::-moz-range-thumb { background: #FF8000; }
.orangerange input[type="range"]::-ms-range-thumb { background: #FF8000; }
.grayrange input[type="range"]::-webkit-slider-thumb { background: #888; }
.grayrange input[type="range"]::-moz-range-thumb { background: #888; }
.grayrange input[type="range"]::-ms-range-thumb { background: #888; }
.magentarange input[type="range"]::-webkit-slider-thumb { background: #ff00ff; }
.magentarange input[type="range"]::-moz-range-thumb { background: #ff00ff; }
.magentarange input[type="range"]::-ms-range-thumb { background: #ff00ff; }

.colorrange input[type="range"]::-webkit-slider-runnable-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-moz-range-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-ms-track { background: url('https://javalab.org/lee/visible_light.png'); }
.colorrange input[type="range"]::-webkit-slider-thumb {
	border: 3px solid #888;
	background: none;
	box-shadow: none;
}
.colorrange input[type="range"]::-moz-range-thumb {
	border: 3px solid #888;
	background: none;
}

.colorrange2 input[type="range"]::-webkit-slider-runnable-track { background: url('https://javalab.org/lee/visible_light_2.png'); }
.colorrange2 input[type="range"]::-moz-range-track { background: url('https://javalab.org/lee/visible_light_2.png'); }
.colorrange2 input[type="range"]::-ms-track { background: url('https://javalab.org/lee/visible_light_2.png'); }
.colorrange2 input[type="range"]::-webkit-slider-thumb {
	border: 3px solid #888;
	background: none;
	box-shadow: none;
}
.colorrange2 input[type="range"]::-moz-range-thumb {
	border: 3px solid #888;
	background: none;
}
